@{
    ViewBag.Title = "Accueil";
}


<div class="jumbotron">
    <h1>Jouer</h1>
    <p class="lead">Lancez un combat maintenant !</p>
    <p><a href="@Url.Action("List", "War")" class="btn btn-primary btn-lg">Combattre ! &raquo;</a></p>
</div>